/* import our font styles - Google Fonts*/
/* For paragraphs etc..*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* For headings*/
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}


h1,h2,h3,h4,h5,h6{
    font-family: "Domine", serif;
}

/*custom classes*/

.text-center{
    text-align: center;
}

/* navigation */
/* outer navigation */
.outer-navigation{
    /* create gradient (url from unsplash.com)*/
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1672734281612-8bc05da7fd7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

.nav-content{
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation a:hover {
    color: lightblue
}

.right-navigation {
    flex: 0.5;
    text-align: right;
    padding-right: 30px;
}

.right-navigation .login-link{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.left-navigation {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.left-navigation a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/* hero styles */
.main-title-container {
    font-size: 2.2rem;
    color: white;
    max-width: 500px;
    float: right;
    position: absolute;
    top: 30%;
    right: 40px;
    margin-left: 20px;
}

.main-title-container button {
    background-color: #palevioletred;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px 20px;
}
.main-title-container button:hover{
    color: lavender;
}

/* mopves arrow to bottom and animates it */
@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 50px;
    }
50% {
    bottom: 70px;
}
}

.arrow-down-navigation {
    animation: MoveUpDown 2.5s ease-in-out infinite;
    color: white;
    font-size: 2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
}

.arrow-down-navigation:hover {
    color: lightblue;
}

.main-row {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.main-row .image-container {
    width: 50%;
}

.main-row .image-container img {
    width: 100%;
    /*change height to adjust main photo block*/
    height: 700px;
    /*Use scale-down to make photo not fill in the space all the way*/
    object-fit: scale-down;

}

.main-row .text-container {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main-row .text-container h2 {
    font-size: 30px;
}

/*our mission*/
.our-mission {
    /*maybe take out linear gradient for brighter color*/
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8eW9nYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
    background-attachment: fixed;
    background-position: center 10px;
    min-height: 500px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.our-mission h2 {
    font-size: 2rem;
}

.our-mission p{
    font-size: 1.5rem;
    text-align: center;
}

.our-mission button {
    border: 1px solid white;
    padding: 10px 30px;
    background-color: transparent;
    color: white;
}

.our-mission button:hover {
    background-color: white;
    color: black;
    cursor: pointer;

}

/*Contact Form*/

.contact-form {
    padding: 30px;
    background-color: lightblue;
    text-align: center;
}

.contact-form form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-form textarea {
    width: 100%;
}

.contact-form button {
    padding: 10px 30px;
    cursor: pointer;
}

/* footer */
footer {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
}

/*Login page*/
.login-navigation, .about-us-navigation {
    background-color: black;
}

.login-container {
    display: flex;
    flex-wrap: wrap;
}

.left-login-container {
    background-image: url(https://images.unsplash.com/photo-1444312645910-ffa973656eba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHlvZ2F8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
    height: calc(100vh - 50px);
    background-position: center;
    flex: 0.5;
    background-repeat: no-repeat;
}

.right-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0.5;
}

.right-login-container form {
    margin: 0 auto;
}

.right-login-container input {
    /* min says use 100% or 500px, whichever is more readable */
    width: min(100%, 500px);
    padding: 10px;
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

.right-login-container button {
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    border: 1px solid black;
}

.right-login-container button:hover {
    background-color: black;
    color: white;

}

/*About Us page*/

.cards-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    text-align: center;
    padding-bottom: 10px;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/*Instagram Reel*/
/*
.insta {
    

    --spacer: 2rem;
    margin: 0 auto;
    display: grid;

    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border: 3px solid black;
    background-color: pink;
    
    background-image: url(https://images.unsplash.com/photo-1586809764311-090bc6068916?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*
.instagram-media {
    min-width: auto;
    min-height: auto;
    padding: 30px;
    
    
    float: left;
    background:#FFF; 
    border:0; 
    border-radius:3px; 
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
    margin: 0 auto; 
    max-width:540px; 
    min-width:326px; 
    padding: 10px; 
    object-fit: cover;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    float: left;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--surface-2);
    border: 3px solid limegreen;
    border-radius: var(--radius-2);
      
}
*/

/*
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding: 80px;
}

.snaps-inline > * {
    
  
    scroll-snap-align: start;
}

.insta-post {
    display: flex;
    padding: 30px;
    margin-right: 10px;
    width: 320px;
    float: left;
    transition: 0.3s;
    border: 3px solid red;
}

.insta-post:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
*/
.insta-header {
    padding: 30px;
    background-color: white;
    text-align: center;
    max-width: min(90%,1000px); 
    margin: 0 auto;
}


/*test insta posts #2*/
.carousel {
    padding: 1rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 8px;
    border-color: limegreen;
    max-width: 900px;
    width: 85vw;
    margin: auto;
    overscroll-behavior-inline: contain;

}

.test-img-container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    object-fit: scale-down;
}

.test-img-container blockquote {
    height: 281px;
    width: 500px;
    
    
}

.instagram-media {
    scroll-snap-align: center;
}

/*Social Media Icons*/



  
.fa-brands:hover {
    opacity: 0.7;
}

.fa-facebook{
    background: #3B5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-instagram{
    /* background: #bb0000; */
    background: linear-gradient(to bottom left, RGB(60, 4, 249),RGB(135, 0, 126), RGB(243, 148, 48), RGB(243, 230, 10));
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-youtube{
    background: #cb2027;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;

}
.fa-pinterest {
    background: #cb2027;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
}

/*test-icon testing*/



/*scroll arrows for insta reel*/
.left {
    float: left;
    font-size:24px;
    color: aqua;
    background-color: transparent;
  }

.right {
    /*
    left: 0;*/
    float: right;
    
    font-size:24px;
    color: aqua;
    background-color: transparent;
}


/* Mobile Navigation */

.mobile-navigation {
    display: none;
}

.mobile-navigation i {
    position: fixed;
    top: 20px;
    font-size: 20px;
    right: 20px;
    color: white;
    z-index: 99;
}

.mobile-navigation li {
    list-style: none;
}

.mobile-navigation ul {
    position: fixed;
    left: -1000px;
    transition: left 0.3s linear;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-top: 0;
    text-align: center;
    padding: 0;
}

.mobile-navigation ul li {
    margin-top: 30px;
}

.mobile-navigation li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.mobile-navigation ul.show {
    left: 0;
    right: 0;
}

.about-us-mobile-navigation i {
    color: black;
}

.about-us-mobile-navigation ul.show i {
    color: white;
}

@media screen and (max-width: 700px) {
    .main-row .text-container,
    .main-row .image-container {
        width: 100%;
    }
    .main-row:nth-of-type(2) {
        flex-wrap: wrap-reverse;
    }
    .login-container {
        height: 90vh;
    }
    .right-login-container {
        flex: 1;
        border: 1px solid;
    }
    .right-login-container input {
        width: 100%;
    }
    .left-login-container {
        display: none;
    }
} 
   

@media screen and (max-width: 500px) {
    .navigation {
        display: none;  
    }
    .mobile-navigation {
        display: block;
    }
    h1 {
        font-size: 2.9rem;
    }
    .outer-navigation {
        padding-top: 0;
    }
    .our-mission {
        padding: 30px;
    }
    .main-row .text-container {
        padding: 10px;
    }
    .fa-facebook, .fa-instagram, .fa-pinterest, .fa-youtube {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    }
}
